#root {
  background-color: #00aa74;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; */
  font-size: 16px;
  overflow-y: auto;
}
.cardWrap{

  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  overflow-y: auto;
}

.card {
  width: 400px;
  height: 400px;
  background-color: azure;
  margin: 0 auto;
}

.card .head {
  background-color: #2d55cc;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
}

.card ul {
  padding: 20px;
}

.card ul li {
  padding: 10px;
  font-size: 0.8em;
}
