$topbgcolor:rgb(44, 36, 36);
$bodybgcolor:#00aa74;
$footerbgcolor:#bfffeb;
$widthvalu:500px;
$width100:100%;
body{
    background-color:$bodybgcolor;
    overflow-x: hidden;
}
.cardhead{
    position: absolute;
    top:0;left:0;
    width:$width100;
    height:30px;
    color:#fff;
    line-height: 30px;
    font-size:0.7rem;
    background-color: $topbgcolor;


    .sitename{
        display:inline;
    }
    .username{
        float:right;

    }
}

.cardbody{
    position: absolute;
    top:30px;
    width:$widthvalu;
    background-color:$bodybgcolor;
    display:flex;
    flex-direction: column;

}

.cardfooter{
    width:$width100;
    height:40px;
    background-color: $footerbgcolor;
    line-height: 40px;
    position: absolute;
    bottom: 0px; left: 0px;
    text-align:center;
    font-size:0.7rem;
}

.buttoncardplus{
    width:$widthvalu;
    padding:20px;
    text-align:center;
}

.cardsection{
    display:flex;
    flex-direction: row;
    width:$widthvalu;
    height:230px;
    background-color:#ffffff;
    margin-bottom:20px;
    padding:10px 20px 10px 10px;
    box-shadow: 0 1.5em 0 -1em lightgreen;
    .cardimg {
        display:block;
        width:150px;
        height:200px;
        margin-bottom:10px;
    }

    .cardItemBg {
        padding-left:20px;
        width:350px;
        height:150px; 
        li{
            font-size:0.8rem;
            
     
        }
        #standard-size-small{
            font-size:9px;
        }
    }
    .deleticon{
        position: relative;
        top:50px
    }

    .filebutton{
        display:none;
    }

}
.anislide{
        animation-duration: 0.5s;
        animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 0%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.anislide{
    animation-duration: 0.5s;
    animation-name: slidein;
}
@keyframes slidein {
from {
  margin-left: 100%;
  width: 0%;
}

to {
  margin-left: 0%;
  width: 100%;
}
}

.deletbutton{
position:relative;
left:480px;
width:50px;
height:50px;
cursor: pointer;
z-index: 2;
}